html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}

#customersTable, #productsTable, #suppliersTable {
    width: 100%;
    margin-top: 20px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

    .table th, .table td {
        padding: 0.75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table tbody + tbody {
        border-top: 2px solid #dee2e6;
    }

    .table .table {
        background-color: #fff;
    }

#customersTable th, #productsTable th, #suppliersTable th {
    background-color: #343a40;
    color: #ffffff;
}

#customersTable td, #productsTable td, #suppliersTable td {
    background-color: #ffffff;
}

/* Ajustes para columnas */
#customersTable .column-id,
#productsTable .column-id,
#suppliersTable .column-id,
#customersTable .column-name,
#productsTable .column-name,
#suppliersTable .column-name,
#customersTable .column-country,
#productsTable .column-country,
#suppliersTable .column-country,
#customersTable .column-phone,
#productsTable .column-phone,
#suppliersTable .column-phone {
    width: auto; /* O un porcentaje más pequeño */
}

/* Estilos para responsividad */
@media screen and (max-width: 1024px) {
    #customersTable .column-id,
    #productsTable .column-id,
    #suppliersTable .column-id,
    #customersTable .column-name,
    #productsTable .column-name,
    #suppliersTable .column-name,
    #customersTable .column-country,
    #productsTable .column-country,
    #suppliersTable .column-country,
    #customersTable .column-phone,
    #productsTable .column-phone,
    #suppliersTable .column-phone {
        width: auto; /* O un porcentaje más pequeño */
    }
}
